/*****************

*    Front-end News! Stylesheet
*
*
*     White :#fff;
*     Header Background :#4054B2;
*     Indigio :#3f51b5;
*     Indigo (dark) :#303f9f;
*     Light Blue :#c5cae9;
*     Pink :#ff4081;
*     Gray (dark) :#212121;
*     Gray (medium) :#727272;
*     Gray  (light) :#b6b6b6;

*    Base Stylesheet
*********************/

body {
 
}

h1,h2,h3,h4,h5,h6 {

}

p {

}

ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

li {

}

a {

}

/***********
Header Section styling

**************/

/*********
*   Hero
*
***********/

.hero {
	background-color:#3f51b5;
	color:#fff;
	text-align: center;
	padding:40px 0;
	margin-bottom: 40px;
}

/*********
*   Logo
*
***********/

.logo {

	font-size: 20px;
	text-transform: uppercase;
	font-weight: bolder;
}

/***********
*   News
***************/

.news-item {
border-bottom: 1px solid #b6b6b6;
margin-bottom: 20px;
padding-bottom: 20px;
}

.news-link {
 color: #3f51b5;
 font-size: 24px;
}

/***********
*   Container
***************/

.container {
	margin: 0 auto;
	max-width: 800px;
}